.sidebar-container {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 30px;
    font-size: 14px;
    text-align: left;
    border-right: 1px solid #E9EBFC;

}

.ticket-selection {
    color: #9C9EB2;
}

.ticket-selection-title {
    color: #4A4A4A;
    padding-left: 15px;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.ticket-selection:focus {
    color: #4A4A4A;
}

.card-container-home {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
