.sidebar-container {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    text-align: left;

}

.sidebar-nav.a {
    color: #9C9EB2 !important;
}

.card-container-home {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
